<header class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
	    <%= link_to "Localwise", 'root_path' %>
		<ul class="nav pull-right">
			<li><%= link_to "View Recommendations", '#' %></li>
		    <li><%= link_to "Sign Up", signup_path %></li>
		</ul>
	</div>
</header>